services:
  ai:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_PATH=./src/ai/vector_db/qdrant.db
    restart: unless-stopped

  backend:
    build:
      context: ./backend/main-server
    ports:
      - "8081:8080"
    # Теперь бэкенд будет брать настройки из application.yml
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
      - ai
    restart: unless-stopped